{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "plugins": ["react", "jsx-a11y"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [ "node_modules", "app" ]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "chai": true,
    "sinon": true
  },
  "rules": {
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-indent-props": 1,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-quotes": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-closing-bracket-location": [2, "after-props" ],
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2,
    "react/sort-comp": 0,
    "react/jsx-no-bind": 1,
    "react/prefer-stateless-function": 1,

    "array-callback-return": 0,
    "quotes": [2, "single", "avoid-escape"],
    "semi": 1,
    "jsx-quotes": [2, "prefer-single"],
    "comma-dangle": [1, "never"],
    "consistent-return": 0,
    "indent": [1, 2, {"SwitchCase": 1}],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "always"],
    "func-names": 0,
    "id-length": 0,
    "max-len": [1, 200],
    "global-require": 0,
    "import/no-unresolved": 0,
    "no-unused-expressions": 0,
    "no-param-reassign": 0,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-else-return": 0,
    "no-console": 1,
    "no-throw-literal": 0,
    "no-confusing-arrow": 0,
    "no-unused-vars": 1,
    "no-spaced-func": 0,
    "no-use-before-define": 0,
    "no-multiple-empty-lines": [1, { "max": 1, "maxBOF": 0}],
    "arrow-body-style": 0
  }
}
